In [1]:
import pandas as pd

In [2]:
google_reviews = pd.read_csv("Data/df_datos_google_clean.csv", sep=',', encoding='UTF-8', index_col=0)
trip_reviews = pd.read_csv("Data/df_datos_trip.csv", sep=',', encoding='UTF-8', index_col=0)
hotels_travel_and_leisure = pd.read_csv("Data/df_hotels_22&21_clean.csv", sep=',', encoding='UTF-8', index_col=0)

In [3]:
google_reviews.head(2)

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5

In [4]:
trip_reviews.head(2)

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4
1,Grace Hotel,5.0,4.9,4.9,4.8,4.4

In [5]:
hotels_travel_and_leisure.head(2)

,Index,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year
0,1,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022
1,2,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,Coastal,2000,21,1.0,6.0,2022

In [15]:
def join_csv_without_col(file1_path, file2_path):
    df1 = pd.read_csv(file1_path)
    df2 = pd.read_csv(file2_path)
    df_merged = pd.merge(df1, df2, on='Hotel', how='inner')
    df_merged.drop("Unnamed: 0_x", axis=1, inplace=True)
    df_merged.drop("Unnamed: 0_y", axis=1, inplace=True)
    return df_merged

In [17]:
wgoogle_data_hotels = join_csv_without_col("Data/df_hotels_22&21_clean.csv", "Data/df_datos_google_clean.csv")
wgoogle_data_hotels.head(2)

,Index,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,Theme,Year,Century,2021_Rank,Past_rank,Rank_Year,Google_Rate,Google_Habs,Google_Location,Google_Service
0,1,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,Countryside,2000,21,0.0,0.0,2022,4.8,4.3,4.1,4.6
1,2,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,Coastal,2000,21,1.0,6.0,2022,4.6,4.8,4.6,4.5

In [19]:
wgoogle_data_hotels.to_csv("Data/df_wgoogle_data_hotels.csv")

In [20]:
all_hotel_data = join_csv_without_col("Data/df_wgoogle_data_hotels.csv", "Data/df_datos_trip.csv")
all_hotel_data.head(2)

,Index,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,...,Rank_Year,Google_Rate,Google_Habs,Google_Location,Google_Service,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,1,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,...,2022,4.8,4.3,4.1,4.6,5.0,4.7,4.9,4.8,4.4
1,2,Grace Hotel,Santorini,Greece,Europe,Auberge Resorts Collection,99.22,2,20,Small,...,2022,4.6,4.8,4.6,4.5,5.0,4.9,4.9,4.8,4.4

In [21]:
all_hotel_data.to_csv("Data/df_all_hotel_data.csv")

In [22]:
def open_csv_pandas(file_path):
    "To open a .csv. Insert the path and it will return the df"
    df = pd.read_csv(file_path, sep=',', encoding='UTF-8', index_col=0)
    return df

In [23]:
df = open_csv_pandas("data/df_all_hotel_data.csv")

In [24]:
df.head(1)

,Index,Hotel,Location,Country,Region,Company,Score,Rank,Rooms,Hotel_type,...,Rank_Year,Google_Rate,Google_Habs,Google_Location,Google_Service,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,1,Rosewood Castiglion del Bosco,Montalcino,Italy,Europe,Massimo and Chiara Ferragamo,99.25,1,53,Small,...,2022,4.8,4.3,4.1,4.6,5.0,4.7,4.9,4.8,4.4

#def trip_price(selected_hotel):
    price_tripadvisor = {"Hotel": [],
                    "Price": []}

    for hotel in selected_hotel: 
        driver = webdriver.Chrome(ChromeDriverManager().install())
        driver.implicitly_wait(9)

        driver.get("https://www.tripadvisor.com")
        driver.implicitly_wait(14)         

        driver.find_element("css selector", "#onetrust-accept-btn-handler").click()
        sleep(7)

        driver.find_element("css selector", "#lithium-root > main > div.cBOoN > div.rGQXC._T.ivvQp > div > div > div:nth-child(1) > a > span.QLiHN.o.W > span").click()
        sleep(5)

        driver.find_element("css selector", "body > div.kaEuY > div > form > input.qjfqs._G.B-.z._J.Cj.R0").click()
        sleep(5)

        driver.find_element("css selector", "body > div.kaEuY > div > form > input.qjfqs._G.B-.z._J.Cj.R0").send_keys(f"{hotel}", Keys.TAB)
        sleep(6)

        driver.find_element("css selector", "#typeahead_results > a:nth-child(2) > div.EtzER > div.biGQs._P.fiohW.fOtGX").click()
        sleep(5)
            
        price_tripadvisor["Hotel"].append(f"{hotel}")

        try:
            price_tripadvisor["Price"].append(driver.find_element("css selector", "#ABOUT_TAB > div > div:nth-child(2)").text)
        except: 
            price_tripadvisor["Price"].append(np.nan)

        driver.quit()